@model Product

<div class="card mb-3">
    <img class="card-img-top" src="~/img/@Model.ImageUrl">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <small class="text-muted">
            <i class="fas fa-dollar-sign"></i> @Model.Price
        </small>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="shop" asp-action="Details" asp-route-url="@Model.Url" class="btn btn-success btn-sm">Details</a>
        <a asp-controller="shop" asp-action="addtocart" asp-route-id="@Model.ProductId" class="btn btn-success btn-sm">Add to cart</a>
    </div>
</div>