@model ProductViewModel

@{
    var popularClass = Model.Products.Count > 3 ? "popular" : "";
    var products = Model.Products;
}

@section Categories
{
    @await Component.InvokeAsync("Categories")
}
      
@if(@products.Count != 0)
{
    <div class="row">
        @foreach(var p in @products)
        {
            <div class="col-md-4">
                @await Html.PartialAsync("_product", p)
            </div>
        }
    </div>
}else{
    @await Html.PartialAsync("_noproduct")
}  